.page-header {
	padding: 15px 0px;
	background-color: #fafafa;
}


	.page-header__title {
		float: left;
	}


	.page-header__menu {
		margin-top: 15px;
		float: right;
	}


.page-container {
	padding-top: 30px;
	padding-bottom: 60px;
}



.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

	.menu li {
		display: inline-block;
		margin-left: 10px;
	}